.row
	.col-md-7.col-md-offset-1
		.page-header
			center
				h2 Cớm
					br
					small by Tam Pham

		ul.nav.nav-pills(style='margin-bottom: 20px')
			li.active
				a(ng-href='#/project/detail', ng-click='nav("introduction.jade")')
					| Giới thiệu
			li
				a(ng-href='#/project/detail', ng-click='nav("updated.jade")')
					| Cập nhật
			li
				a(ng-href='#/project/detail', ng-click='nav("founder.jade")')
					| Nhóm
			li
				a(ng-href='#/project/detail', ng-click='nav("founder.jade")')
					| Subcribe

		div(ng-include='ctrlHolder')
