.row
	.col-md-7.col-md-offset-1
		.page-header
			//- .input-group.col-md-6.pull-right
				input.form-control(type='text')
				span.input-group-btn
					button.btn.btn-success(type='button') Search!
			h2 {{title}}

		div.media
			a.pull-left(href='#/project/detail')
				img.img-rounded.media-object(src='./_contents/covers/c-1.jpg', width='150', alt='')
			div.media-body
				h4.media-heading
					a(href='#/project/detail')
						| Nested media heading
				div Tâm Phạm - 22/3/2014
				div 4 founders, 500 người thích, 1200 lượt xem
				| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

		div.media
			a.pull-left(href='#/project/detail')
				img.img-rounded.media-object(src='./_contents/covers/c-1.jpg', width='150', alt='')
			div.media-body
				h4.media-heading
					a(href='#/project/detail')
						| Nested media heading
				div Tâm Phạm - 22/3/2014
				div 4 founders, 500 người thích, 1200 lượt xem
				| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

		div.media
			a.pull-left(href='#/project/detail')
				img.img-rounded.media-object(src='./_contents/covers/c-1.jpg', width='150', alt='')
			div.media-body
				h4.media-heading
					a(href='#/project/detail')
						| Nested media heading
				div Tâm Phạm - 22/3/2014
				div 4 founders, 500 người thích, 1200 lượt xem
				| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

	.col-md-3
		//- div.list-group
			a.list-group-item.list-group-item-success()
				h4.list-group-item-heading Phạm Minh Tâm
				p.list-group-item-text System admin

			a.list-group-item.list-group-item-info.active(ng-href='#/admin',
				ng-click='nav("views/account/index.jade")') Quản lý tài khoản
			//- a.list-group-item.list-group-item-info(ng-href='#/admin',
			//- 	ng-click='nav("views/account/create.jade")') Tạo tài khoản
			//- a.list-group-item.list-group-item-info(ng-href='#/admin',
			//- 	ng-click='nav("views/account/import.jade")') Import tài khoản
			a.list-group-item.list-group-item-info(ng-href='#/admin',
				ng-click='nav("views/account/new.jade")') Tạo tài khoản

			a.list-group-item.list-group-item-info(ng-href='#/admin',
				ng-click='nav("views/admin/post-manage.jade")') Quản lý bài viết
			a.list-group-item.list-group-item-info(ng-href='#/admin',
				ng-click='nav("views/admin/online-surveys.jade")') Khảo sát trực tuyến
			a.list-group-item.list-group-item-info(ng-href='#/admin',
				ng-click='nav("views/admin/statistics.jade")') Thống kê hệ thống
			a.list-group-item.list-group-item-info(ng-href='#/admin',
				ng-click='nav("views/admin/feedback.jade")') Ý kiến phản hồi
