div(ng-controller='project-intro-ctrl')
	p introduction

	p #review from when came to saigon.

	p before the first time i come to sg, i think here is a beutiful place, where have lot of tall buildings, lot of new technologies and lot of things i've never seen.

	p but, when I came, everything fall down in my thinking, cause it have a bit of strange of my imagination. not much tall buildings, not much new technologies and there's not a beautiful place liked that I thought.

	p First year at my university, I have to cut down a lot of grass that height was same as me. I lived in the terrible flat and sometime electric around there was off, these were hot and dirty days.

	p Second year was at the same, but it was fimilar, I don't thinking about this environment so much. I'm study hard, playing more and go out with a girl who i'm really like. This year have lot of memories in my student times.

	p Third year, I take the first part-time job. It made me feel proud myself than my friends. Don't have any impressed things in this year. This is the year of work and study.

	p Fourth year at my university, i take some real projects, some real jobs, some new friends and my thinking changed a lot. I don't be cruel any more, I lived with open. This is the year of change and chance.

	p and now, i've just finished my studying. i'm working at home.

	p anyway, sg is a city where live easiest.
