.row
	.col-md-7.col-md-offset-1
		.page-header
			h2 Khởi tạo dự án

		.post
			form.form(role='form', method='post')
				.form-group
					label(for='title') Tên dự án
					input#title.form-control(type='text', ng-model='post.title')
				.form-group
					label(for='content') Loại dự án
					select#role.form-control(name='role')
						option(value='1') Nghệ thuật
						option(value='2') Phi lợi nhuận
						option(value='3') Web App
						option(value='4') Mobile App
						option(value='5') Game
				.form-group
					label(for='content') Mô tả dự án
					div#content.textarea.min-height-180(ng-model='post.content', ng-meditor)
				.form-group
					label(for='resource') Dự án cần hỗ trợ
					div#resource.textarea.min-height-180(ng-model='post.resource', ng-meditor)

				.form-group
					button.btn.btn-success(ng-click='create()')
						//- i.glyphicon.glyphicon-plus
						| Đăng dự án
					a.btn.btn-link(href='#/blog')
						//- i.glyphicon.glyphicon-remove
						| Hủy
