doctype 5

html(ng-app='the-up')
	head
		meta(charset='UTF-8')
		title
			| the up

		//- medium-editor
		link(rel='stylesheet',
			href='./bower_components/medium-editor/dist/css/medium-editor.css')
		link(rel='stylesheet',
			href='./bower_components/medium-editor/dist/css/themes/default.css')
		//- medium-editor-insert-plugin
		//- link(rel='stylesheet',
		//- 	href='./bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.css')

		link(rel='stylesheet',
			href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='./_contents/style.css')

	body(style='padding:10px; padding-top:60px')
		div.row.clearfix
			div.col-md-12.column.the-book
				nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#', style='color:white; padding-top:6px')
							b UP
							small(style='margin-top:-10px; display:block')
								| think less and do more
					div#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(ng-href='#/discover',
									style='min-width:120px; text-align:center') discover
							li
								a(ng-href='#/project/new',
									style='min-width:120px; text-align:center') start
							li
								a(ng-href='#/about') about

						//- ul.nav.navbar-nav.pull-right
							li
								a(ng-href='#/basket') Basket
							li
								a(ng-href='#/account') Login/Register

			//- div.col-md-12.column
				nav.navbar.navbar-default(role='navigation')

					div.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#')
							b FREE UK Delivery


					form.navbar-form.navbar-left(role='search', style='width:400px')
						.form-group
							.input-group
								span.input-group-addon Search
								input.form-control(type='text')
								span.input-group-btn
									button.btn.btn-default(type='button') Go!
							//- input.form-control(type='text', placeholder='Search')
						//- button.btn.btn-default(type='submit') GO

					div#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(ng-href='#') Login/Register
							li
								a(ng-href='#/book-editing') Basket

		//- #main.content(style='margin-top: 60px')
		//- .row
			.col-md-6.col-md-offset-1(ng-view)
		div(ng-view)


		.row(style='margin-top:100px; margin-bottom:50px')
			.col-md-6.col-md-offset-1
				p YouthStudio 2014

		script(src='./bower_components/jquery/dist/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js')

		//- medium-editor
		script(src='./bower_components/medium-editor/dist/js/medium-editor.js')
		//- medium-editor-insert-plugin
		script(src='./bower_components/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.all.min.js')

		script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='./scripts.js')
		script(src='./templates.js')
