.row
	.col-md-7.col-md-offset-1
		.page-header
			h2 {{title}}

		div.media(ng-repeat='item in [1,2,3,4,5,6,7,8,9]')
			a.pull-left(href='#/project/detail')
				img.img-rounded.media-object(src='./_contents/covers/c-1.jpg', width='150', alt='')
			div.media-body
				h4.media-heading
					a(href='#/project/detail')
						| Nested media heading
				div Tâm Phạm - 22/3/2014
				div 4 founders, 500 người thích, 1200 lượt xem
				| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

	.col-md-3(style='margin-top:10px')
		div.list-group
			a.list-group-item.active(ng-href='#/discover')
				| Nghệ thuật
				span.badge 14
			a.list-group-item(ng-href='#/discover')
				| Phi lợi nhuận
				span.badge 28
			a.list-group-item(ng-href='#/discover')
				| Web apps
				span.badge 44
			a.list-group-item(ng-href='#/discover')
				| Mobile apps
				span.badge 99
			a.list-group-item(ng-href='#/discover')
				| Game
				span.badge 12
