body
{
	background: white;
	color: black;
	font-size: 15px;
	font-family: "Lucida Grande", Tahoma, "Lucida Sans", "Lucida Sans Unicode", sans-serif, Verdana, "Lucida Grande";
	margin: 0;
}

#intro
{
	margin: 0 auto;
	color: #d2d8ba;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px #e5e9ef solid;
}

#quotes
{
	width: 100%;
	background-color: #f2f2f2;
	border-bottom: 1px #e5e9ef solid;
	border-top: 1px #e5e9ef solid;
	padding: 20px 0px 20px 0px;
}

#main
{
	margin: 0 auto;
	margin-top: 20px;
	overflow: visible;
	clear: both;
	display: block;
}

#project
{
	margin: 0 auto;
	overflow: visible;
	clear: both;
	display: block;
	padding-top: 20px;
	position: relative;
}

#client
{
	margin: 0 auto;
	margin-top: 20px;
	overflow: visible;
	clear: both;
	display: block;
	padding-top: 20px;
}

#front #footer
{
	margin-top: 50px;
	background-color: #f2f2f2;
	border-top: 2px #e5e9ef solid;
	padding: 20px 0px 20px 0px;
}

.content
{
	width: 900px;
	margin: 0 auto;
}

.btn-youth
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
	font-size: 16px;
}

.btn-youth:hover
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
	font-size: 16px;
}

.label-youth
{
	background-color: #ea1943;
	border-color: #ea1943;
	color: white;
}

.btn-green
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn-green:hover
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn-big
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn-big:hover
{
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: white;
}

.btn a
{
	color: inherit;
	text-decoration: none;
}


/*Header*/
.list{
	list-style: none;
}

.left
{
	display: inline;
}

label{
	font-weight: normal;
}

.title{
	margin: 8px 0px;
	margin-top: 0px;
}

.comment {
	margin-top: 40px;
	padding-top: 8px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e5e5e5;
}
