body {
	padding-top: 50px;
}

.breadcrumb {
	padding: 4px 12px;
	margin-bottom: 0px;
	background-color: black;

	a {
		color: white;
		font-size: 12px;
		&:hover {
			text-decoration: none;
		}
	}
}

.breadcrumb>li+li:before {
	content: none;
}

.navbar {
	margin-bottom: 0px;
}

.line-height (@height: 30px) {
	line-height: @height;
}

.the-book .navbar-nav>li>a {
	.line-height(30px);
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9e0000;
	color: white;

	&:hover {
		background-color: #9e0000;
		color: white;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #9e0000;
	color: white;
}

.the-book .navbar-brand {
	.line-height(30px);
}

.navbar-default {
	background-color: #c50000;
	border-color: #6b0000;
}


.min-height (@min: 180px) {
	min-height: @min;
}

.width (@height: 50px) {
	width: @height;
}

.textarea {
	border-top-style: dashed;
	border-top-width: 1px;
	border-top-color: #e4e4e1;

	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #e4e4e1;

	padding: 4px 0px;
	min-height: 180px;

	&:focus {
		outline: none;
	}
}

.min-height-180 {
	.min-height('180px');
}

.min-height-50 {
	.min-height('50px');
}

.width-80 {
	.width('80px');
}
